@keyframes marquee {
  0% { transform: translateX(10%); }
  100% { transform: translateX(-30%); }
}
.animate-marquee {
  animation: marquee 15s infinite ease-in-out;
}
.hover-effect:hover {
  background-color: #e2e8f0; /* Light gray background on hover */
  color: #4f46e5; /* Change text color on hover */
}
.hover-effect:hover .fa-arrow-down {
  transform: translateY(-2px); /* Move the arrow icon upwards on hover */
  transition: transform 0.3s ease;
}